# Configuration file

##########################################################################################################
# categories
#--------------------------------------------------------------------------------------------------------#
# This section allows you to disable certain categories of content, based on a tag system.
##########################################################################################################

categories {
    B:overhaul=false
}


compat {
    B:"appliedenergistics2:power.mechanical"=true
    B:"baubles:lib"=true
    B:"buildcraft:lib"=true
    B:"chiselsandbits:storage.barrels"=true
    B:"commoncapabilities:lib.slotlessInsertion"=true
    B:"guideapi:tablet"=true
    B:"igw-mod:tablet"=true
    B:"infraredstone:lib"=true
    B:"ironchest:tools.wrench.rotate"=true
    B:"jei:crafting.pocket"=true
    B:"jei:misc.scaffold"=true
    B:"jei:storage.barrels"=true
    B:"jei:storage.tanks"=true
    B:"jei:tablet"=true
    B:"jei:tools.building"=true
    B:"mcjtylib:tablet"=true
    B:"mcmultipart:misc.scaffold"=true
    B:"mcmultipart:misc.shelf"=true
    B:"opencomputers:audio.storage"=true
    B:"opencomputers:lib"=true
    B:"quark:lib"=true
    B:"quark:tools.wrench.rotate"=true
    B:"redstonepaste:lib"=true
    B:"rustic:lib"=true
    B:"storage.barrels:tweak.carry"=true
    B:"transport.rails:transport.carts"=true
}


##########################################################################################################
# overrides
#--------------------------------------------------------------------------------------------------------#
# Overrides can have one of three values: DEFAULT, ENABLE, DISABLE
# DEFAULT will enable the module based on your profile settings and dependency availability.
##########################################################################################################

overrides {
    S:audio.noteblock=DEFAULT

    # Audio storage, recording and playback - Quartz Discs [Profile: FORCED]
    S:audio.storage=DEFAULT

    # Audio cables [Profile: FORCED]
    S:audio.transport=DEFAULT
    S:crafting.cauldron=DEFAULT
    S:crafting.compression=DEFAULT
    S:crafting.pocket=DISABLE

    # Place things! In the world! And they stack! [Profile: FORCED]
    S:immersion.stacks=ENABLE

    # Wire support module [Profile: STABLE]
    S:lib.wires=DEFAULT
    S:materials=DEFAULT
    S:materials.dyes=DEFAULT
    S:materials.shards=DISABLE
    S:misc.drama=DEFAULT
    S:misc.scaffold=DEFAULT
    S:optics.laser=DEFAULT
    S:optics.projector=DEFAULT
    S:power.mechanical=DEFAULT
    S:power.steam=DEFAULT
    S:storage.barrels=DISABLE
    S:storage.chests=DEFAULT

    # Player interaction-preventing locks and keys [Profile: FORCED]
    S:storage.locks=DISABLE
    S:storage.tanks=DEFAULT

    # The Tablet, providing documentation for Charset and other mods! [Profile: FORCED]
    S:tablet=DEFAULT
    S:tools.building=DEFAULT
    S:tools.building.wrench=DEFAULT

    # Engineer's tools: Stopwatch, Signal Meter, Tuning Fork, Tape Measure. [Profile: FORCED]
    S:tools.engineering=DEFAULT
    S:transport.dyeableMinecarts=DEFAULT
    S:transport.rails=DEFAULT

    # Allows dyeing item names in an anvil [Profile: FORCED]
    S:tweak.anvilDyeItems=ENABLE

    # Options to restore classic bonemeal behaviour and whitelist bonemealable blocks. [Profile: FORCED]
    S:tweak.bonemeal=ENABLE

    # Allow players to carry blocks via shift-pickblock [Profile: FORCED]
    S:tweak.carry=ENABLE
    S:tweak.chat=DEFAULT

    # Makes double doors open at the same time upon right-clicking just one [Profile: FORCED]
    S:tweak.doubledoors=ENABLE
    S:tweak.dynlights=DEFAULT

    # Allows a mob wearing armor comparable to yours to rarely spawn [Profile: FORCED]
    S:tweak.equalizeMobChances=DEFAULT

    # Fixes player directional damage animation. [Profile: FORCED]
    S:tweak.fix.playerdamageanimation=ENABLE

    # Holding a map in one hand and a compass in another will make the compass point to the map's center. [Profile: FORCED]
    S:tweak.mapCompass=ENABLE

    # Allow type-based control of mob spawning. [Profile: FORCED]
    S:tweak.mobControl=DEFAULT

    # Makes EntityItems picked up in order from oldest to youngest. [Profile: FORCED]
    S:tweak.orderedPickup=ENABLE

    # Allows players to push TNT around by hand or projectile [Profile: FORCED]
    S:tweak.pushableTnt=ENABLE
    S:tweak.remove.itemTooltips=DEFAULT

    # [Profile: FORCED, off by default!]
    S:tweak.remove.netherPortals=DEFAULT

    # [Profile: FORCED, off by default!]
    S:tweak.remove.recipeBookButton=DEFAULT
    S:tweak.remove.recipeUnlocks=DEFAULT

    # [Profile: FORCED, off by default!]
    S:tweak.remove.sprinting=DEFAULT
    S:tweak.remove.tutorial=DEFAULT

    # [Profile: FORCED, off by default!]
    S:tweak.remove.vanillaStyleTools=DEFAULT

    # Harvest crops by right-clicking! [Profile: FORCED]
    S:tweak.rightClickHarvest=ENABLE
    S:tweak.shiftScroll=DEFAULT

    # Left-clicking farmland with a shovel turns it back into dirt. [Profile: FORCED]
    S:tweak.shovelUntill=ENABLE
    S:tweak.slidingBlocks=DEFAULT
    S:tweak.unifyColors=DEFAULT

    # Forces a void overworld. [Profile: FORCED, off by default!]
    S:tweak.voidGenerator=DEFAULT

    # [Profile: FORCED]
    S:tweak.zorro=DEFAULT
}


